[submodule "Rscript/Library/MSI_app"]
	path = Rscript/Library/MSI_app
	url = https://gitee.com/xieguigang/ms-imaging.git
[submodule "src/mzkit"]
	path = src/mzkit
	url = https://gitlink.org.cn/xieguigang/mzkit_win32.git
	ignore = all
[submodule "src/visual/KCF"]
	path = src/visualize/KCF
	url = https://gitee.com/xieguigang/KEGG.molDraw.git
